/*
Colors used:
Primary Color (Blue): #05676e
Secondary Color (Green): #489c79
*/

/*Apply box-sizing to all elements*/ 
*{
    box-sizing: border-box;
}
/*Link styling */
a {
    color: #ff7f50;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #cc6540;
    text-decoration: underline; 
}

a:visited {
    color: #ff7f50;
}
a:active {
    color: #994c30;
}

/* Image styling */
img {
    width: 100%;
}

/*Body styling */
body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300; 
    line-height: 1.6; 
    color: #4a4a4a;
}

/*Header text styling */
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 { 
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 { 
    font-size: 1.35em;
    font-weight: 400;
}

/*Button styling */
.button {
    display: inline-block; 
    background-color: #ff7f50;
    color: #ffffff; 
    font-weight: 400; 
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contract {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
}

.button.contract:hover {
    background-color: #ff7f50;
    color: #ffffff;
}

/*Layout styling */
.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0; 
}

#work .row { 
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a; 
}

#hero h1 {
    text-align: center; 
    background-color: #ffe4c4;
    margin: 0;
    padding: 0.67em 0;
}

/*Logo styling */
.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

/*Header styling */
header {
    background-color: #ffe4c4;
    text-align: center;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}

/*Navigation styling */
nav > ul > li > a:visited {
    list-style-type: none;
    padding: 0 15px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;

}

/*Box shadows */
css-box-shadow {
	width: 300px; 
	height: 300px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

/*Media Queries */

/*=========================
Medium devices (640px and larger)
=========================== */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width:auto;
        float: right;
        margin-top: 4px;
    }
    main {
        padding: 0;
    }
    #hero span {
        display: block;
        text-align: center;
    }
    body {
        font-size: 16px;
    }
    [class="col-6"] {
        float:left;
        width: 50%;
        box-sizing: border-box;
        padding: 15px;
    }
    }
    .row:: after {
        content: "";
        clear: both;
        display: table;
    }
    #about-page h3 { margin-top: 0;}
}

/*==========================
Large devices (1024px or larger)
============================ */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 75%
    }
}

/*===========================
X-large devices (1440px or larger)
============================= */
@media only screen and (min-width: 1440px) {
}

/*============================
Extra-large devices (1920px or larger)
============================== */
@media only screen and (min-width: 1920px) {
}

/*container max width */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;4
}