/*
Colors used:
Primary Color (Blue): #05676e
Secondary Color (Green): #489c79
*/


/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}
/*animation*/
@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #f76414;}
    100% {fill: #f76414;}
}
@keyframes cloud-move {
    from {transform: translate(0px, 0px);}to {transform: translate(200px, 50px);}
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px, 48px);}
    to {transform: translate(100px, 48px);}
}

.tree {
    animation: color-change 4s infinite alternate linear;
}

.cloud-front {
    animation: cloud-move 30s infinite alternate linear;
}

.cloud-back {
    animation: cloud-move-reverse 34s infinite alternate linear;
}

/* Image styling */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.wellwise-circle-logo {
    max-width: 200px;  
    height: auto;
}

/* Body styling */
body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
}

/* Header text styling */
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 { 
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 { 
    font-size: 1.35em;
    font-weight: 400;
}

/* Button styling */
.button {
    display: inline-block;
    background-color: #ff7f50;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

/* Layout styling */
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#hero h1 {
    text-align: center;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0.67em 0;
}

/* Header styling */
header {
    background-color: #ffe4c4;
    padding: 10px 0 4px;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Navigation styling */
.navtoggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle .icon {
    display: none;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

nav > ul {
    list-style-type: none;
    padding: 0;
    display: fixed;
    justify-content: center;
    margin: ul {
        margin: 1em 0;
    }
}
.contact 
onclick="menuToggle()"

nav > ul > li {
    margin: 0 15px;
}

nav > ul > li > a {
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #cc6540;
    text-decoration: underline;
}

/* 2-column layout */
.col-2 {
    width: 48%;
    margin: 1%;
    float: left;
}

.col-2 img {
    width: 100%;
}

/* General container for the skills and tools section */
#skills-tools {
    padding: 40px 0;
}
.skills-tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.skills, .tools {
    flex: 1; 
}

@media (min-width: 1024px) {
    .skills {
        flex: 0 0 60%; /* 60% width for the Skills column on large screens */
    }
    .tools {
        flex: 0 0 40%; /* 40% width for the Tools column on large screens */
    }
}

.skills ul, .tools ul {
    list-style: none;
    padding: 0;
}

/*mobile devices*/
@media only screen and (min-width: 641px) {
    header {
        text-align: left;
        padding: 20px 0 13px;
    }
    nav {
        float: right;
    }
    nav > ul > li {
        display: inline-block
    }

    #hero span {
        display: block;
        text-align: center;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 75%;
    }
    .col-2 {
        width: 48%;
        margin: 1%;
    }
    /*adding to the larger devices that won't have a menu*/
    nav > ul > li {
        display: inline-block
    }
    /*navigation menu icon */
.navtoggle li:last-child {
    display: none;
  }
}

/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
    .col-2 {
        width: 48%;
        margin: 1%;
    }
    nav > ul > li {
        display: inline-block
    }
    /*navigation menu icon */
.navtoggle li:last-child {
    display: none;
  }
}

/*items on a list */
var list = $("ul");
var listItems = list.find("li");
listItems.hide();
