/*
Colors used:
Primary Color (Blue): #05676e
Secondary Color (Green): #489c79
*/

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
}

/* Header text styling */
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 { 
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 { 
    font-size: 1.35em;
    font-weight: 400;
}


/*Header styling */
header {
    background-color: #ffe4c4;
    padding: 10px 0 4px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav > ul > li {
    margin: 0 15px;
}

nav > ul > li > a {
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #cc6540;
    text-decoration: underline;
}

header img {
    max-width: 150px;
    height:auto;
}

/* Image styling */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.wellwise-circle-logo {
    max-width: 200px;  
    height: auto;
}


/* Button styling & transition*/
.button {
    display: inline-block;
    background-color: #ff7f50;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

/* Layout styling */
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*column sections*/
section {
    padding: 60px 20px;
}

#hero {
    text-align: center;
    background-color: #ffe4c4;
    margin: 0;
    padding: 0.67em 0;
}

/*2-column layout */
.col-2 {
    width: 48%;
    margin: 1%;
    float: left;
}

.col-2 img {
    width: 100%;
} 

/*2nd column project 2*/
#ski-animation-project {
    background-color:#05676e;
    padding: 40px 0;
    text-align: center;
}
#ski-animation-project h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#ski-animation-project svg {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
}

.clouds {
    position: absolute;
    width: 100%;
    top: 50px;
}
.tree {
    position: absolute;
    bottom: 50px;
}

.cloud-front {
    position: absolute;
    top: 10px;
    left: 10px;
}

.cloud-back {
    position: absolute;
    top: 30px;
    left: 50px;
}


/*animation for color change of tree*/
@keyframes color-change {
    0% { fill: #edc655; }
    50% { fill: #f76414; }
    100% { fill: #800080; }
}
.tree {
    animation: color-change 4s infinite alternate linear;
}

/*animation for cloud movement*/
@keyframes cloud-move {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(200px);
    }
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}
.cloud-front {
    animation: cloud-move 30s infinite alternate linear;
}
.cloud-back {
    animation: cloud-move-reverse 34s infinite alternate linear;
}

/* Navigation styling */
.navtoggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle .icon {
    display: none;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

nav > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    }
}

/* container skills and tools section */
#skills-tools {
    padding: 40px 0;
}
.skills-tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.skills, .tools {
    flex: 1; 
}

.skills ul, .tools ul {
    list-style: none;
    padding: 0;
}


---------------------------------------
/*media queries*/

/*mobile devices*/
@media only screen and (min-width: 640px) {
    header {
        text-align: left;
        padding: 20px 0 13px;
    }
    nav {
        float: right;
    }
    nav > ul > li {
        display: inline-block
    }

    #hero span {
        display: block;
        text-align: center;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
}
  
/*smaller screens*/
.button {
    padding: 8px;
    font-size: 14px;
}
.col-2 {
    width: 100%;
    margin: 10px 0;
    float: none;
}
#ski-animation-project h2 {
    font-size: 2em;
}


/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
    header {
        padding: 20px 50px;
    }
    .col-lg-7 {
        width: 75%;
    }
    .col-2 {
        width: 48%;
        margin: 1%;
    }
    nav > ul > li {
        display: inline-block
    }


/* 2nd column layout in about page for skills and tools*/
    .skills {
        flex: 0 0 60%; /* 60% width */
    }
    .tools {
        flex: 0 0 40%; /* 40% width */
    }
    .button {
        padding: 12px;
        font-size: 16px;
    }
    .navtoggle li:not(:last-child) {
        display: none;
      }
}


/*items on a list */
var list = $("ul");
var listItems = list.find("li");
listItems.hide();
